extends layout
block content
	.row.banner
		.col-12
			h1 Loc8r
				small &nbsp;Find places to work with wifi near you!
	.row
		.col-12.col-md-8
			.card
				.card-block
					h4
						a(href="/location") Starcups
						small &nbsp;
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.far.fa-star
							i.far.fa-star
						span.badge.badge-pill.badge-default.float-right 100m
					p.address 125 High Street, Reading, RG6 1PS
					p.facilities
						span.badge.badge-warning Hot drinks
						span.badge.badge-warning Food
						span.badge.badge-warning Premium wifi
		.col-12.col-md-4
			p.lead Looking for wifi and a seat? Loc8r helps you find places towork when out and about. Perhaps with coffee, cake or a pint?Let Loc8r help you find the place you're looking for.
		.col-12.col-md-8
			.card
				.card-block
					h4
						a(href="/location") BurgerQueen
						small &nbsp;
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.far.fa-star
						span.badge.badge-pill.badge-default.float-right 100m
					p.address SFFC 14, 2nd Floor, Nexus Centre City, Hyderali Rd, Jyothi Nagar, Nazarbad, Mysuru, Karnataka 570010
					p.facilities
						span.badge.badge-warning Whopper
						span.badge.badge-warning Burgers and Beverages
						span.badge.badge-warning BK Cafe
		.col-12.col-md-4
		.col-12.col-md-8
			.card
				.card-block
					h4
						a(href="/location") Neon Castle
						small &nbsp;
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
						span.badge.badge-pill.badge-default.float-right 100m
					p.address Next to Ayush kids clinic, 2725/1, 3rd Main Rd, Near HDFC Bank Circle, Vani Vilas Mohalla, Mysuru, Karnataka 570002
					p.facilities
						span.badge.badge-warning Ramen
						span.badge.badge-warning Food
						span.badge.badge-warning Music
		.col-12.col-md-4
